Cmnd_Alias USER_SERVICES = /usr/bin/systemctl start minecraft.service, /usr/bin/systemctl stop minecraft.service, /usr/bin/systemctl restart minecraft.service, /usr/bin/systemctl status minecraft.service
minecraft ALL=(ALL) NOPASSWD:USER_SERVICES